* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  background-image: url("https://assets.codepen.io/319606/bg-topographic.svg");
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1);
}

.MySertif {
  background-color: #212121;
  color: #fff;
  box-shadow: 4px 6px 6px 2px #00000040;
  padding: 1.2rem;
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MySertif a {
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 1.2rem; 
}

.MySertif h1 {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.4rem
}

.MySertif svg {
  font-size: 1.2rem;
  text-align: center;
  fill: #fff;
  font-weight: bold;
  cursor: pointer;
}

.sertif {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.sertImg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.sertImg img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}

.sertImg img:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

/* Animation Scroll */
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-50%);
  transition: all 1.2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .sertImg {
    grid-template-columns: repeat(1, 1fr);
  }

  body img {
    margin-top: 0.1rem;
    max-width: 90%;
  }
}
